                                                            /*for genral*/

*{
box-sizing:border-box;
margin:0;
padding:0;
font-family: 'Trebuchet Ms','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
}
                                                             /*top bar */
nav{
background:#fdcc04;
display:flex;
justify-content:space-between;
align-items:center;
padding:0rem calc((100vw-1300px)/2);

border-bottom: 1rem solid white;
}

svg{
align:left;
}
.logo{
postion:fixed;
height:100px;
width:12rem;
font-family:Trebuchet Ms;
font-size:1.5rem;
font-weight:bold;
font-style:italic;
}
nav a{
text-decoration:none;
color:#000;
padding: 0 1.5rem;
 }
 nav a:hover{
 color:#dcada3
 }
                                            /*genral information */

.general{
background:#fdcc04;
margin-bottom:auto;
height:100%;
justify-content:space-between;
align-items:center;
padding:0rem calc((100vw-1300px)/2);
border-bottom: 1rem solid white;

}

.background-container{
display:grid;
grid-template-colmuns: 1fr 1fr;
height:30vh;
padding:0rem calc((100vw-1300px)/2);
}

.colmun-left{
display: flex;
flex-direction: colmun;
justify-content:left;
align-items:flex-start;
color:#000;
padding :2rem 2rem 2rem 2rem;

}


.colmun-left h1 {
postion: relative; top:80px;
color:#fff;
 text-underline-position: under;
margin-right:5rem;
margin-top:2rem;
font-size:5rem;

}
.colmun-left p {
margin-bottom: 2rem;
font-size: 1.5 rem;
line-height:1.5;

}
.column-right {
width: 100%;
background: black;
display: flex;
flex-direction: colmun;
justify-content:left;
align-items:flex-start;
border-top:1rem white soild;
padding-top:10px;
 }

.img{
position:relative; left:80px; top:20px;
display:flex;
height:400px;
width:400px;
background:black;
margin-bottom:50px;
}
.img:hover{
border: 5px #fff solid;
 transition: .5s;
 margin:3rem;
 padding:10px;
 }
.imgdisc{
width:50%;
position:relative; left:160px ; top:140px; right:250px;
font-color:white;
display: flex;

}
.imgdisc:hover{
color:#000;
margin:8px;
 transition: .5s;
}
h4{
letter-spacing: 2px;
font-size: 30px;
font-family:Century Gothic;
 color:#fdcc04;

 margin:30px;}
h3{
color:#fdcc04;

margin:30px;}





.links{

justify-content:space-between;
position: relative ; top:80px;
left:30px;
align-items:center;
padding:0rem calc((100vw-1300px)/2);}

ul {
padding: 0 1.5rem;
    display: flex;
    right:100px;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul li {
    list-style: none;
}

ul li a {
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}

ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}

ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

ul li a:hover:before {
    top: 0;
}

ul li:nth-child(1) a:before {
    background: #3b5999;
}

ul li:nth-child(2) a:before {
    background: #55acee;
}

ul li:nth-child(3) a:before {
    background: #0077b5;
}

ul li:nth-child(4) a:before {
    background: #dd4b39;
}


                                                             /* section number three */
.detail
{
margin:2 rem;
display: flex;
  align-items: center;
  justify-content: center;
background:rgba(197, 173, 0,0.7);
width:100%;
height:35rem;
 padding:2 rem;
 }
.detail1{
padding:40px;;
margin:0;
height:80%;
width:60%;
position:relative;
border: 5px solid #fff;
}
.detail1:hover{
background:rgba(0,0,0,0.5);
margin:1rem;
transition:.5s;
}
h5{
font-size:30px;
color:#fff;
}
                                                /*detail background  */

.detailbackground{
background:#111;
}
.detailtitle{

position: relative;
color:#fff;
    text-align: center;
    font-size: 40px;
    font-weight: 50px;
    margin-bottom: 60px;
    padding: 20px;
    font-family: 'Ubuntu', sans-serif;
    }



.button {
  font-size: 35px;
  color: #fff;
  text-decoration: none;
  postion:absolute;
  padding:25px 25px;
  width:100%;
  height:100%;
  text-align:center;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 60%;
  heightfile :50%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 10rem;
  overflow: auto;
}

  .box{
  margin: 0 auto;
  display:flex;
    postion:relative;
    width: 25% ;
    height:80%;
    background: #222;
    border-radius: 6px;
    padding: 50px 25px 50px 50px;
    background-clip: padding-box;
    text-align: center;
    cursor: pointer;

  }
  .popup{
    width: 70%;
  }

.wrapper {
 display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
height:20rem;
}

/* contact me section */
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.contact{

width:100%;
margin-bottom:35px;
}
.max-width .title{
padding:20px;
margin-top:20 px;
margin-bottom:50px;
font-weight:400;
font-size:40px;
text-align:center;
}

.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: crimson;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: crimson;
  background: none;
}